<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Windows-31J">
	<title>購入商品</title>
</head>

<body>

	<center>
	<h2>購入商品</h2>
	</center>

	<br><br>
	
	以下が購入する商品と合計です。
	<br>
	<table border="1">
	
	#foreach ( $item in $ItemsToBuy.selecteditems )
		#if( $item.selected )
		<tr>
			<td>
				$item.title
			</td>
		
			<td>
				$item.author
			</td>
		</tr>
		<tr>
			<td>
				$item.publisher
			</td>
		
			<td>
				$item.price
			</td>
		</tr>
		#end
	#end
	</table>
	<br>
	<br>
	合計: $ItemsToBuy.total 円

	<form method="post"
		action="$link.setAction( "/OrderAction" )">
		<input type="submit" value="注文する" />
	</form>

	<form method="post" action="$link.setAction( "/SearchAction" )">
		<input type="hidden" name="keyword"/>
		<input type="submit" value="戻る" />
	</form>

</body>

</html>