<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Windows-31J">
	<title>アカウント作成</title>
</head>

<body>

	<center>
	<h2>アカウント作成</h2>
	</center>

	<form	action="$link.setAction( "/CreateUser" )"
			method="post">
		氏名: <input type="text" name="name" /><br>
		E-Mail: <input type="text" name="email" /><br>
		ログイン名: <input type="text" name="account" /><br>
		パスワード: <input type="password" name="passwd" /><br>
		パスワード(確認): <input type="password" name="passwd2" /><br>
		<input type="submit" value="アカウント作成" />
		<input type="reset" value="リセット"/>
	</form>
	#if( $messages.exist() )
		<br>
		<font color="red">
			$messages.get( "illegalcreateuser" )
		</font>
		<br>
	#end

	#if( $errors.exist() )
		<br>
		<font color="red">
			$errors.get( "illegalcreateuser" )
		</font>
		<br>
	#end

	<a href="$link.setRelative("/Login.vm" )">トップへ</a>

</body>

</html>