<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Windows-31J">
	<title>ログイン</title>
</head>

<body>

	<center>
	<h2>ログイン</h2>
	</center>

	<form	action="$link.setAction( "/Login" )"
			method="post">
		ログイン名: <input type="text" name="account" /><br>
		パスワード: <input type="password" name="passwd" /><br>
		<input type="submit" value="ログイン" />
		<input type="reset" value="リセット"/>
		<br>
		#if( $messages.exist() )
			<font color="red">
				$messages.get( "illegallogin" )
			</font>
		#end
		<br>
		アカウントを作成していない人は
			<a href="$link.setRelative( "/createAccount.vm" )">こちら</a>
	
	</form>

</body>

</html>