<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Windows-31J">
	<title>ログアウト</title>
</head>

<body>

	<center>
	<h2>ログアウトしました</h2>
	</center>

	<a href="$link.setRelative("/index.html" )">トップへ</a>

</body>

</html>