<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Windows-31J">
	<title>注文確認</title>
</head>

<body>

	<center>
	<h2>注文確認</h2>
	</center>

	<br><br>
	
	以下のとおり、注文を受け付けました。
	<br>
	商品:
	<br>
	<table border="1">
	
	#foreach ( $item in $ItemsToBuy.selecteditems )
		#if( $item.selected )
		<tr>
			<td>
				$item.title
			</td>
		
			<td>
				$item.author
			</td>
		</tr>
		<tr>
			<td>
				$item.publisher
			</td>
		
			<td>
				$item.price
			</td>
		</tr>
		#end
	#end
	</table>
	<br>
	<br>
	合計: $ItemsToBuy.total 円
	<br>
	<br>
	<br>
	お客様情報
	<br>
	<br>
	UserID:	$Customer.uid	<br>
	氏名:	$Customer.name	<br>
	E-Mail:	$Customer.email	<br>

	<br>
	<a href="$link.setRelative( "/Login.vm" )">トップに戻る</a>
</body>

</html>