<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=Windows-31J">
</head>

<body>

	<center>
	<h2>セッション　エラー</h2>
	</center>
	<br>
	<br>
	セッション情報が不正です。アクセスが不正か、セッションが
	タイムアウトしました。
	<br>
	<br>
	<a href="$link.setRelative( "/Login.vm" )">トップ</a>に戻る。	

</body>

</html>